footer.footer {
    min-height: 30vh;
    max-width: 100%;
    width: 100vw;
    background-color: var(--forth-background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.8em;
    font-weight: 700;
    color: #fff;
}
